* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(45, 45, 83);
  color: #ffff;
  font-family: sans-serif;
}

header p {
  display: inline-block;
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  padding: 12px;
}

nav {
  display: inline-block;
  width: 550px;
}

header a {
  text-decoration: none;
  display: inline-block;
}
